# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Juan Avila\OneDrive\Documentos\UVG\Segundo 2021\Algoritmos y estructuras de datos\Proyecto2\SpotyZeer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
